/* src/Component/Header/Admin/AdminHeader.css */
a {
  padding: 3rem;
  border: 1px solid #000;
  background-color: #e16a02;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  margin-left: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration-line: none;
}
a:hover {
  background-color: #d97000;
}
