/* src/index.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#header {
  width: 100vw;
  height: 10vh;
}

#container {
  width: 100vw;
  height: 80vh;
  border: 1px solid #000;
}

#footer {
  width: 100vw;
  height: 10vh;
}