/* src/index.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
}

#header, #container, #footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#header {
  width: 100vw;
  height: 10vh;
}

#container {
  width: 100vw;
  height: 80vh;
}

#footer {
  width: 100vw;
  height: 10vh;
}

a {
  padding: 3rem;
  border: 1px solid #000;
  border-radius: 15%;
}