/* src/index.css */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#header,
#footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#userContainer {
  display: flex;
  flex-direction: column;
}

#adminContainer {
  display: flex;
  flex-direction: column;
}

#userHeader,
#adminHeader {
  width: 100vw;
  height: 10vh;
  background-color: #333;
  color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#container {
  width: 100vw;
  height: 80vh;

  display: flex;
  align-items: center;
  flex-direction: column;

  text-align: center;
}

h1 {
  margin-top: 2rem;
  font-size: 2rem;
  color: green;
}

h2 {
  margin-top: 2rem;
  font-size: 1.5rem;
  color: blue;
}

#footer {
  width: 100vw;
  height: 10vh;

  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}
