/* src/index.css */

body {
  width: 100vw;
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 90vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
}

#root div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#header {
  flex: 1;
}

#container {
  flex: 8;
}
