/* src/index.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#header,
#footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#userContainer {
  display: flex;
  flex-direction: column;
}

#adminContainer {
  display: flex;
  flex-direction: column;
}

#userHeader,
#adminHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#container {
  width: 100vw;
  height: 75vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20vh;;
}

h1 {
  font-size: 2rem;
}


#footer {
  width: 100vw;
  height: 5vh;

  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}
