/* src/pages/Main/MainPage.css */

.product-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80vw;
  background-color: #f5f5f5;
  border-radius: 8px;
  margin: 1rem;
  padding: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-list {
  list-style: none;
  padding: 0;
}

.product-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 300px;
  height: 500px;
  margin-bottom: 16px;
  padding: 16px;
  margin: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.product-item > img {
  width: 250px;
}

.product-item > img:hover {
  cursor: pointer;
}


.product-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width : 250px;
  height: 200px;
  margin: 1rem;
  border-top: 1px solid lightgray;
}

.product-details > input,
.product-details > button{
  width: 100px;
}

.product-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}

.product-price {
  color: #007bff;
  font-size: 16px;
  margin-bottom: 8px;
}

.product-quantity {
  font-size: 14px;
  color: #28a745;
}

