/* src/pages/Login/LoginPage.css */

#container > div {
  flex-direction: column;
}

div {
  display: flex;
}




.LoginForm {
  display: flex;
  flex-direction: column;
  align-items: end;
  
  margin: 2rem;
}

.signup {
  font-size: 12px;
  text-align: center;
  align-items: center;
  border: 1px solid #000;
  width: 2vw;
  height: 2vh;
  background-color: #efefef;
}

.sign {
  text-decoration: none;
  color: inherit;
}

button {
  margin-right: 10px;
}