/* src/pages/Login/LoginPage.css */

#container > div {
  flex-direction: column;
}

div {
  display: flex;
}




.LoginForm {
  display: flex;
  flex-direction: column;
  align-items: end;
  
  margin: 2rem;
}

.signup {
  font-size: 12px;
  text-align: center;
  align-items: center;
  border: 1px solid #000;
  width: 60px;
  height: 30px;
  background-color: #efefef;
  margin-right: 10px;
}

.sign {
  text-decoration: none;
  color: inherit;
}
