.headerCategory {
  /* 하단에 오도록 설정 */
  width: 100vw;
  height: 5vh;
  border: 1px solid lightgray;
}

/* 컴포넌트 내부 요소 스타일링 */
.headerCategory > a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  border: none;
  padding: 0;
  margin-left: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration-line: none;
  text-align: center;
}

.headerCategory > a:hover {
  font-weight: bold;
}