#container {
  width: 80vw; /* 또는 원하는 너비로 설정 */
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.cart-page {
  padding: 20px;
  border-radius: 10px; /* 모서리 둥글게 */
}

.cart-list,
.cart-summary {
  overflow: hidden;
}

.cart-name,
.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%; /* 자식 요소들이 부모의 전체 너비를 사용하도록 설정 */
}

.cart-name {
  background-color: #f7f7f7;
  font-weight: bold;
  padding: 10px 30px;
}

.cart-item {
  border-bottom: 1px solid #e1e1e1;
  padding: 10 30px; /* 여백 추가 */
}

.image {
  width: 100px;
  height: 100px;
}

.cart-item-detail {
  text-align: center;
  padding: 0 10px; /* 가로 내부 여백 조정 */
}

.cart-item-detail input {
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  text-align: center;
  padding: 5px;
}

.cart-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid #e1e1e1;
}

.cart-button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.cart-button:hover {
  background-color: #45a049;
}
