.adminSideHeaderPages {
  /* 하단에 오도록 설정 */
  width: 100vw;
  height: 0;
  display: flex;
  align-items: center;
  background-color: #f4f4f4;
  overflow: hidden;
}

.adminSideHeaderPages > a {
  color: black;
  border: none;
  padding: 0;
  margin-left: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration-line: none;
}

