.headerLogo {
  /* 로고가 중앙에 오도록 설정 */
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: center;
}

.logoImage {
  width: 10vh;
  height: 10vh;
  background-size: cover;
  background-image: url('./logo-removebg-preview.png');
}