.headerLogo {
  /* 로고가 중앙에 오도록 설정 */
  width: 100vw;
  height: 10vh;

}
.headerLogo > a {
  border: 1px solid #000;
  color: black;
  font-size: 3rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration-line: none;
}

.logoImage {
  width: 10vh;
  height: 10vh;
  background-size: cover;
  background-image: url('./logo-removebg-preview.png');

}