.headerPages {
  /* 상단에 오도록 설정 */
  width: 100vw;
  height: 5vh;
  border: 1px solid lightgray;
}

.headerPages > a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  border: none;
  padding: 0;
  margin-left: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration-line: none;
}

.headerPages > a:hover {
  font-weight: bold;
}