.headerPages {
  /* 상단에 오도록 설정 */
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
  height: 5vh;
  border: 1px solid lightgray;
  
}


.pages,
.loginStatus{
  display: flex;
  align-items: center;
}

.pages > a {
  color: black;
  border: none;
  padding: 0;
  margin-left: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration-line: none;
}

.pages > a:hover {
  font-weight: bold;
}

