/* src/Component/Header/Header.css */

#userHeader {
  display: flex;
  position: fixed;
  background-color: #f4f4f4;
  top: 0;
  left: 0;
  right: 0;
  flex-direction: column; /* 수직 정렬 */
  justify-content: space-between;
}