/* src/Component/Header/Header.css */

#userHeader {
  display: flex;
  flex-direction: column; /* 수직 정렬 */
  justify-content: space-between;
  height: 100%; /* 헤더의 높이를 전체로 설정 */
}

.headerLogo {
  /* 로고가 중앙에 오도록 설정 */
  flex: 0 1 auto; /* 자동 크기 조정 */
  padding: 10px; /* 로고 주변의 여백 */
  height: 10vh;
}
.headerLogo > a {
  padding: 3rem;
  border: 1px solid #000;
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  margin-left: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration-line: none;
}

.headerPages > a {
  border: 1px solid #000;
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 0;
  margin-left: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration-line: none;
}

.headerPages {
  /* 상단에 오도록 설정 */
  flex: 0 0 auto; /* 크기 고정 */
  order: -1; /* 다른 항목들보다 먼저 배치 */
  height: 5vh;
}

.headerCategories > div {
  padding: 3rem;
  border: 1px solid #000;
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  margin-left: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration-line: none;
}

.headerCategories {
  /* 하단에 오도록 설정 */
  flex: 0 1 auto; /* 자동 크기 조정 */
  height: 5vh;
}

/* 컴포넌트 내부 요소 스타일링 */
.headerCategories div {
  margin: 0 10px; /* 좌우 여백 */
  padding: 5px; /* 상하 여백 */
  text-decoration: none; /* 링크 밑줄 제거 */
  color: white; /* 글자 색상 */
  font-size: 1em; /* 글자 크기 */
}

.headerCategories div {
  cursor: pointer; /* 마우스 오버 시 포인터 모양 변경 */
}
